In [14]:
import pandas as pd
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
TEMP_LOW_LIMIT = -459.67
TEMP_HIGH_LIMIT = 1000
RPM_LOW_LIMIT = 0
RPM_HIGH_LIMIT = 6e8  # the largest achieved rpm of all human artifacts

def exclude_physical_anml(df):
    result = df[(df['motor_temp'] > TEMP_LOW_LIMIT) & (df['inlet_temp'] > TEMP_LOW_LIMIT) & (df['rpm'] > 0) & (df['rpm'] < RPM_HIGH_LIMIT)]
    return result

def peek_attributes_trend(attribute, ylim_low=-10, ylim_high=1500):
    units = ["000{}".format(num) if num < 10 else "00{}".format(num) for num in random.sample(range(0, 20), 9)]
    file_names = ["../data/raw/train/unit{}_rms.csv".format(unit) for unit in units]
    sns.set()
    f, axs = plt.subplots(3, 3, figsize=(20, 12))
    for idx, file_name in enumerate(file_names):
        file_df = pd.read_csv(file_name)
        file_df = exclude_physical_anml(file_df)
        ax1 = plt.subplot(3, 3, idx + 1)
        file_df[attribute].plot(ylim=(ylim_low, ylim_high))
    plt.show()
    
def load_file(unit, file_type='rms'):
    unit_name = "000{}".format(unit) if unit < 10 else "00{}".format(unit)
    df = pd.read_csv('../data/raw/train/unit{}_{}.csv'.format(unit_name, file_type))
    if file_type == 'rms':
        df = exclude_physical_anml(df)
    return df

def transform_column(df):

In [13]:
rms_0 = load_file(0, 'rms')
tsne_model_0 = TSNE(n_components=2, perplexity=50, learning_rate=100, n_iter=2000, verbose=0, random_state=0, angle=0.75)
tsne_vectors = tsne_model_0.fit_transform()

,timestamp,rpm,motor_voltage,motor_current,motor_temp,inlet_temp
0,2003-12-13 19:56:43.777979848,0.150438,-0.059544,0.045503,5.084823,0.019528
1,2003-12-13 20:07:32.457298714,0.511660,0.627101,0.208669,7.334172,2.081454
2,2003-12-13 20:13:43.182783330,0.824233,1.732618,0.286401,8.843053,3.485346
3,2003-12-13 20:27:19.295198297,1.506626,3.115258,0.483992,11.749493,6.041188
4,2003-12-13 20:35:08.719032171,2.034869,3.923323,0.851620,12.947061,7.309662
...,...,...,...,...,...,...
91710,2005-09-10 16:53:09.928274306,1062.943307,250.265873,36.920420,145.112814,71.801519
91711,2005-09-10 17:05:07.887020827,1062.091452,266.874020,36.278345,139.632508,64.635512
91712,2005-09-10 17:16:44.847084444,991.301318,264.708451,39.463490,147.000205,71.218320
91713,2005-09-10 17:24:30.871246498,1126.293582,264.660856,38.824472,148.408298,70.050136
91714,2005-09-10 17:36:47.236452969,1066.459970,252.919940,36.583988,140.631292,73.711883